* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: row;
  font-family: "League Spartan", sans-serif;
  height: 100vh;
}
aside {
  color: #fff;
  background: linear-gradient(
  to bottom right,
  #020f20 0%,
  rgb(3, 13, 32) 80%,
  #010f24 100%
);
  padding: 0px 0px;
  width: 20%;
}
aside ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.menu{
  letter-spacing: 2px;
  font-size: 1.2rem;
  text-align: center;
  padding: 10px ;
  padding-top: 30px;
  background: #fff;
  font-weight: 600;
  color: #020f20;  
}
.movielist {
  list-style: none;
  letter-spacing: 1px;
  cursor: pointer;
  padding: 12px;
}
.movielist:hover{
  background: rgba(24, 33, 46, 0.9);
}
main h1 {
font-family: 'Silkscreen', sans-serif;
  text-align: center;
  padding: 8px 0;
  backdrop-filter: blur(10px);
  font-size: 4rem;
  font-weight: 400;
}
main {
  padding: 10px 50px;
  width: 80%;
  color: #fff;
  background: url('./assets/Cover.jpg') no-repeat;
  background-position: center;
  background-size: cover;
  backdrop-filter: blur(2px);
}

.intro{
  width: auto;
  margin: auto;
  text-align: center;
  width: 60%;
  letter-spacing: 2px;
  font-size: 1.2rem;
  backdrop-filter: blur(10px);
  line-height: 24px;
  padding-bottom: 15px;
}
.default {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;  
}
.default .poster img {
  height: 500px;
  border-radius: 0 0.7rem .7rem 0;
  box-shadow: 25px 0px 20px -20px rgba(104,106,110,0.7);
}
.details {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
  width: 450px;
  height: 500px;
background: linear-gradient(
  to bottom right,
  #020f20 0%,
  rgb(3, 13, 32) 80%,
  #010f24 100%
);
  justify-content: center;
  border-radius: 0.7rem 0 0 0.7rem;

}
.details h2 {
  font-size: 2rem;
  text-transform: capitalize;
}
.details p {
  line-height: 25px;
  letter-spacing: 1px;
  text-align: center;
}
.details .desc {
  text-align: start;
  line-height: 20px;
  letter-spacing: 0;
  font-size: 1.15rem;
}
.time {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  margin-top: 20px;
  font-size: 1rem;
}
button {
  width: 30%;
  font-size: 1rem;
  padding: 4px;
  line-height: 30px;
  font-weight: 600;
  border-radius: 20px;
  font-family: "League Spartan", sans-serif;
  align-self: center;
  border: none;
  margin-top: 30px;
  cursor: pointer;
  background: #1F91E8;
  color: #fff;
  scale: 1;
}
button img{
  height: 80px;
  cursor: not-allowed;

}
.clicked{
  scale: 0.9;
}
footer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 95%;
  gap: 20px;
  position: absolute;
  bottom: 0;
  padding: 20px;
}
footer div{
  display: flex;
  align-items: center;
  gap: 20px;
}
footer .info p{
font-size: .9rem;
cursor: pointer;
}
footer div img{
  height: 70px;
  padding-right: 20px;
}
footer div img[alt= "hulu"]{
  height: 30px;
}
footer div img[alt= "hbo"]{
  height: 90px;
}